{% if account_list %}
    <ul>
    {% for account in account_list %}
        <li><a href="{%  url 'instagram:detail' account.id %}">{{ account.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There is no instagram accounts</p>
{% endif %}